<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout('Products', ~{::content})}">
    <div th:fragment="content">
        <a th:href="@{/product/add}">Add New Product</a>
        <table>
            <tr><th>ID</th><th>Name</th><th>Category</th><th>Price</th><th>Actions</th></tr>
            <tr th:each="p : ${products}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.category}"></td>
                <td th:text="${p.price}"></td>
                <td>
                    <a th:href="@{|/product/${p.id}|}">Details</a> |
                    <a th:href="@{|/product/edit/${p.id}|}">Edit</a> |
                    <a th:href="@{|/product/delete/${p.id}|}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</html>
